@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600&display=swap');

* {
    font-family: 'Assistant', sans-serif;
}

p {
    font-weight: 300;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    width: 100%;
    height: 100vh;
}

section#header {
    grid-area: header;
    padding: 25px;
    background: #7D82B8;
}

section#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 25px;
    align-content: start;
    justify-content: start;
    background: #C4FFB2;
}

section#content {
    grid-area: content;
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:2fr 2fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
    gap: 25px;
    background: #7B4B94;
    padding: 25px;
}

.content-projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows:repeat(3, 1fr);
    gap: 25px;
}

.content-announcements {
    grid-area: announcements;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.announcements-card {
    padding: 25px;
    background: #7D82B8;
    border-radius: 10px;
}

.announcements-title {
    font-weight: 500;
    font-size: 1.2rem;
}

.content-trending {
    grid-area: trending;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
}

.trending-card {
    padding: 25px;
    display: grid;
    grid-template-columns: minmax(75px, 1fr) 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "trending-icon trending-handle"
    "trending-icon trending-name";
    background: #7D82B8;
    border-radius: 10px;
    min-width: 250px;
}

.trending-icon {
    grid-area: trending-icon;
    margin-right: 10px;
}

.trending-icon span img {
    width: 100%;
    height: 100%;
}

.trending-handle {
    grid-area: trending-handle;
}

.trending-name {
    grid-area: trending-name;
}

.project-card {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "project-title project-title"
    "project-text project-text"
    "project-text project-text"
    ". project-icons";
    background: #7D82B8;
    border-radius: 10px;
    cursor: pointer;
}

.project-card:hover, .announcements-card:hover, .trending-card:hover {
    opacity: 0.8;
    transform: scale(1.01);
}

.project-title {
    grid-area: project-title;
    font-weight: 600;
    font-size: 1.4rem;
}

.project-text {
    grid-area: project-text;
}

.project-icons {
    grid-area: project-icons;
    justify-self: end;
}

span#dashboard {
    font-size: 18px;
    font-weight: 600;
}

.alert {cursor: pointer;}

.alert:hover {
    opacity: 0.8;
}

.alert.rotate:hover {
    transform: rotate(10deg) scale(1.05);
}

.alert.zoom:hover {
    transform: scale(1.05);
}

.icon-text {
    display: grid;
    grid-template-columns: 30px 5fr;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    margin: 10px 0;
    cursor: pointer;
}

.icon-text:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

.icon img, .header-top img {
    height: 30px;
}

span.icon {
    height: 30px;
}

.text {
    font-size: 16px;
}

span.profile {
    font-weight: 600;
    font-size: 24px;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    text-wrap: nowrap;
    align-items: center;
    justify-items: end;
    justify-self: flex-end;
    max-width: 250px;
}

.header-top {
    display: grid;
    grid-template-columns: 100px 3fr 100px auto;
    align-items: center;
    justify-items: center;
}

input#search {
    width: 100%;
    border-radius: 30px;
    margin-right: 75px;
    padding: 5px;
    font-size: 18px;
    background: #7B4B94;
    max-width: 700px;
    justify-self: flex-start;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-bottom-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 110px 4fr;
    grid-template-areas:
    "profile-image-bigger intro-text"
    "profile-image-bigger profile-name-bigger";
    align-items: center;
}

.header-bottom-right {
    display: grid;
    gap: 25px;
    grid-template-columns: 100px 100px 100px;
    justify-content: flex-end;
}

#profile-image-bigger {
    height: 100px;
    grid-area: profile-image-bigger;
}

#profile-name-bigger {
    grid-area: profile-name-bigger;
    align-self: flex-start;
}

#intro-text {
    grid-area: intro-text;
    align-self: end;
}

button {
    background: #B7E3CC;
    border-radius: 30px;
    border: none;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    opacity: 0.9;
}

body {
    margin: 0;
}